<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
<div class="col-md-12 banner-head">
	Afiliate con nosotros
</div>
<div class="container">
	<div class="content col-md-6 col-md-offset-3" align="center">
		<p><strong> La Asociacion Jovenes Texto de relleno lorem ipsum para nuevos emprendedores, La cual recoge a jovenes entre dieciocho.</strong></p>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="formu">
					<form>
						<label>Nombre</label>
						<input type="text"></input>		
						<label>Apellido</label>
						<input type="text"></input>		
						<label>Cédula de identidad</label>
						<input type="text"></input>		
						<label>Teléfono</label>
						<input type="text"></input>		
						<label>Email</label>
						<input type="text"></input>		
						<label>Empresa</label>
						<input type="text"></input>
						<input type="button" value="ENVIAR"></input>								
					</form>	
				</div>
			</div>
		</div>
	</div>
</div>
