.social-segment{
	background-color: #e4e4e4;
	width: 100%;
	height: 200px;
	display: table;

}
.social-segment-inner{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.social-box p{
	color: #64BBE8;
}
