
.footer-a {
	height: 195px;
	background-color: #000000;

}
.footer-b {
	background-color: #212121;
	height: 120px;
	margin-top: 10px;
}
.footer-c {
	margin-top: 40px;
}
.footer-c a {
	margin-left: 22px;
	color: #8f8f8f;
}
.footer-c a:hover {
	color: #fff;
	text-decoration: none;
}
.footer-d {
	color: #8f8f8f;
	margin-top: 20px;
}
.twitter {
	background-color: #03aae9;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 25px!important;
	color: #fff;
	padding: 8px 8px;
	margin-right: 20px;
	margin-top: 30px;
}
.facebook {
	background-color: #3a5697;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 25px!important;
	color: #fff;
	padding: 8px 8px;
	margin-right: 20px;
}
.instagram {
	background-color: #47779e;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 25px!important;
	color: #fff;
	padding: 8px 8px;
}
.btn-social-icon,.btn-lg {
	border-radius: 50%;
	background-color: #fff;
	height: 40px;
	width: 40px;
}
.footer-position{
	position: relative;
	bottom: 0;
	width: 100%;
}