.navbar{
	font-size: 16px;
}
.navbar-header{
	margin-left: -110px!important;
}
.navbar{
	-webkit-box-shadow: 0 12px 0px 0px rgba(50, 50, 50, 0.10);
	-moz-box-shadow:    0 12px 0px 0px rgba(50, 50, 50, 0.10);
	box-shadow:         0 12px 0px 0px rgba(50, 50, 50, 0.10);
}
.navbar-nav{
	margin-top: 15px;
	margin-left: 266px;
}
.navbar-nav li{
	margin-right: -15px;
}
.navbar-nav a:hover{
	color: #64BBE8!important;
}