body{
	font-size: 16px;
}

h1{
	color: blue
}
.logo {
	float: left;
	margin-right: 300px;
}
.navbar{
	height: 90px;
	background-color: #FFF;
	margin-bottom: 0px;
	z-index: 10;
	-webkit-box-shadow: 0 14px 5px 0px rgba(50, 50, 50, 0.10);
	-moz-box-shadow:    0 14px 5px 0px rgba(50, 50, 50, 0.10);
	box-shadow:         0 14px 5px 0px rgba(50, 50, 50, 0.10);
}

.navbar img{
	vertical-align: middle;
	margin: 10px auto auto 120px;
	float: left;
}

.menu-texto ul{
	list-style-type: none;
	margin-top: 30px;
}

.menu-texto ul li a{
	color: #737373;
	text-decoration: none;

}

.menu-texto ul li a:link:active{
	color: #68C3F2;
}

.menu-texto ul li a:hover{
	color: #64BBE8;
}


li{
	float: left;
	margin-right: 20px;
}