<footer class="footer-position">
		<div class="col-sm-12">
			<div class="row footer-a">
				<div class="col-sm-12">
					<div class="row footer-b">
						<div class="col-sm-9 col-md-8 col-md-offset-1 footer-c">
                            <%= link_to "Quienes Somos", "#{root_path}#quienes-somosA" %>
                            <%= link_to "Mentores", mentor_path %>
							<a href="#">Codigo de Honor</a>
							<a href="#">Eventos</a>
                            <%= link_to "Afiliación", afiliate_path %>
                            <%= link_to "Contacto", contact_path %>
						</div>
						<div class="col-sm-3 col-md-3">
                            <a href="#">
                                <i class="fa fa-twitter fa-3x img-circle twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-facebook fa-3x img-circle facebook"></i>
                            </a>
                            <a href="#">
    							<i class="fa fa-instagram fa-3x img-circle instagram"></i>
                            </a>
						</div>
					</div>
				</div>
			<div class="col-sm-12 text-center footer-d">Todos Los Derechos Reservados</div>
			</div>
		</div>
</footer>