<div class="row">
	<div class="col-md-12">
		<div class="row footer-a">
			<div class="col-md-12">
				<div class="row footer-b">
					<div class="col-md-5 col-md-offset-1 footer-c">
						<a href="">Quienes Somos</a>
						<a href="">Codigo de honor</a>
						<a href="">Eventos</a>
						<a href="">Afiliacion</a>
						<a href="">Contacto</a>
					</div>
					<div class="col-md-3 col-md-offset-3">
						<i class="fa fa-twitter fa-3x img-circle twitter"></i>
						<i class="fa fa-facebook fa-3x img-circle facebook"></i>
						<i class="fa fa-instagram fa-3x img-circle instagram"></i>
							
					</div>
				</div>
			</div>
		<div class="col-md-12 text-center footer-d">Todos Los Derechos Reservados</div>
		</div>
	</div>
</div>