<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nav</title>
	<link href="./assets/stylesheets/navbar.scss" rel="stylesheet">
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<nav class= "navbar navbar-default" style="background-color: #fff;">
		<div class="logo">
			<!-- Brand and toggle get grouped for better mobile display -->
			<%= image_tag('logo2.png') %>
		</div>
		<div class="menu-texto">
			<ul>
				<li><a href="#">Quienes somos</a></li>
				<li><a href="#">Código de honor</a></li>
				<li><a href="#">Eventos</a></li>
				<li><a href="#">Afiliación</a></li>
				<li><a href="#">Contácto</a></li>
			</ul>
		</div>
	</nav>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>