<nav class= "navbar navbar-default" style="background-color: #fff;">
	<div class="logo">
		<!-- Brand and toggle get grouped for better mobile display -->
		<%= image_tag('logo2.png') %>
	</div>
	<div class="menu-texto">
		<ul>
			<li><a href="#">Quienes somos</a></li>
			<li><a href="#">Código de honor</a></li>
			<li><a href="#">Eventos</a></li>
			<li><a href="#">Afiliación</a></li>
			<li><a href="#">Contácto</a></li>
		</ul>
	</div>
</nav>